* {
    box-sizing: border-box;
}

header {
    background-color: red;
    font-family: Verdana black;
}

main {
    background-color: blue;
}

.card-header {
    font-family: verdana black;
}

.card-body {
    background-color: silver;
    font-family: verdana black;
}

.container {
    justify-content: space-evenly;
    display: flex;
}